.footer {
    background:#48fa8f;
    
  }
  
  .follows span a {
    text-decoration: none;
  }
  
  .follows span {
    margin-right: 15px;
  }
  
  .link__list .link__item {
    background: transparent;
  }
  
  .link__list a {
    text-decoration: none;
    color: hwb(0 2% 98%);
    font-weight: 500;
  }